<!doctype html>
<html>
<head>
    <title>Sentence Permutation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property='og:title' content='Syntax tree permutator'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
<div class="container">
    <div class="formWrapper col-12 d-flex flex-column flex-lg-row justify-content-space-between align-items-center h-auto mb-4 ">
        <div class="formContent d-block col-12 col-lg-6">
            <h1 class="mb-2">Sentence permutator</h1>

            <form id="myForm" action="{{ url_for('index')}}" method="post">
                <div class="pills d-block d-md-inline-flex gap-2">
                    {% for choice, label in form.mode.choices %}
                    <div class="pill {% if loop.first and not form.mode.data or form.mode.data == choice %}active{% endif %}"
                         data-value="{{ choice }}">
                        {{ label }}
                        <input type="radio" name="mode" value="{{ choice }}" {% if loop.first and not form.mode.data
                               or form.mode.data== choice %}checked{% endif %}>
                    </div>
                    {% endfor %}
                </div>
                {{ form.sentence(rows="7", class="col-12 p-2") }}
                <button type="submit" class="mt-2">Generate permutations</button>
            </form>
        </div>
        {% if tree %}
        <pre class="col-12 col-lg-6 p-20">{{ tree }}</pre>
        {% elif exception %}
        <p class="col-12 col-lg-6 ml-2 p-20">{{ exception }}</p>
        {% else %}
        <div class="imageArea h-md-5"></div>
        {% endif %}
    </div>
    {% if sentence %}
    <ul id="list">
        {% for sentence in permutations %}
        <li class="p-3 my-3">{{ sentence }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div class="spacer"></div>
</body>
</html>